.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.row {
  display: flex;
  background-color: #eeeeee;
  border: 1px solid #999;
  min-height: 80px;
  align-items: center;
}

.row- {
  display: flex;
  background-color: #eeeeee;
  min-height: 80px;
  align-items: center;
  column-gap: 10px;
}

.box {
  background-color: #ccc;
  border: 1px solid #888;
  width: 100px;
  height: 40px;
  margin: 10px;
}

.box.large {
  width: 150px;
  height: 100px;
}
.box.small {
  width: 120px;
  height: 45px;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}

.flex-start {
  justify-content: flex-start;
}
