* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.container__menu {
  background-color: #eeeff1;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.container__menu-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 40px;
  text-align: left;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 5ch;
  padding: 0;
  margin: 0;
}

h1 {
  color: #333;
}

.container__menu--text {
  font-size: 16px;
  color: #727272;
  line-height: 1.6;
}

button {
  background-color: #34547a;
  width: 225px;
  height: 65px;
  color: white;
  border: none;
}

.container__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34547a;
  height: 250px;
  gap: 50px;
}


.container__icons-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}


.container__icons--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.container__icons--text span:first-child {
  font-weight: bold;
  font-size: 20px;
}

.container__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  row-gap: 40px;
}

.container__about--text {
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.container__work {
  display: flex;
  padding: 50px 0;
  row-gap: 40px;
  align-items: center;
  flex-direction: column;
  background-color: #eeeff1;
}

.container__work--text {
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.test {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 600px;
  margin: 0 auto;
}

.container__work--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.test--img {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test--img img {
  width: 100px;
  height: auto;
}

footer {
  background-color: #34547a;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start; /
}

footer h3 {
  font-size: 18px;
  font-weight: bold;
}

footer span {
  font-size: 14px;
}
