* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.container__menu {
  background-color: #eeeff1;
  padding: 50px 0;
  display: flex;
  justify-content: flex-start;
  padding-left: 250px;
}

.container__menu-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 40px;
  text-align: left;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 5ch;
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding-bottom: 162px;
}

h1 {
  color: #333;
  font-size: 48px;
  padding-bottom: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 21px;
}
.container__menu--text {
  font-size: 16px;
  color: #727272;
  line-height: 1.6;
  padding-bottom: 65px;
}

button {
  background-color: #34547a;
  font-size: 16px;
  width: 225px;
  height: 65px;
  color: white;
  border: none;
  margin-bottom: 141px;
}

.container__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34547a;
  height: 250px;
  column-gap: 50px;
}


.container__icons-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}


.container__icons--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.container__icons--text span:first-child {
  font-weight: bold;
  font-size: 20px;
}

.container__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 100px;
  row-gap: 50px;

}

.container__about--text {
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.container__work {
  display: flex;
  padding-top: 100px;
  row-gap: 50px;
  align-items: center;
  flex-direction: column;
  background-color: #eeeff1;
}

.container__work--text {
  font-size: 16px;
  color: #727272;
  text-align: center;
}

.test {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 600px;
  margin: 0 auto;
}

.container__work--img {
  width: 1000px;
  height: 600px;
  object-fit: cover;
  padding-bottom: 100px;
}


.test--img {
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test--img img {
  width: 100px;
  height: auto;
}

footer {
  background-color: #34547a;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  padding-left: 250px;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start; /
}

footer h3 {
  font-size: 21px;
  font-weight: bold;
}

footer span {
  font-size: 13px;
}
